* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  position: relative;
  background: #001734;
  font-family: Noto Sans S Chinese;
}

.page-wrap {
  max-width: 1920px;
  min-width: 1200px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
}

.header-warp{
  width: 100%;
  height: 1rem;
  background: url(../img/nav-bg.png) no-repeat center;
  background-size: 100% 100%;
  color: #00E3FF;
}

.header-title{
  width: 23%;
  font-size: 22px;
  line-height: 1rem;
  font-weight: 500;
  float: left;
  text-align: center;
  cursor: pointer;
}

.header-logo{
  width: 0.8rem;
  margin: 0.1rem;
  float: left;
  vertical-align: middle;
}

.header-tab{
  line-height: 0.6rem;
  float: left;
  font-size: 18px;
  cursor: pointer;
}

.header-tab-content{
  width: 1rem;
  overflow: hidden;
  text-align: center;
  float: left;
  margin: 0 0.3rem;
  cursor: pointer;
}

.header-tab-content:hover{
  color: #F8B62B;
}

.tab-active{
  color: #F8B62B;
  border-bottom: 0.04rem solid #F8B62B;
}

.header-info{
  float: right;
}

.header-info-login{
  width: 1.2rem;
  line-height: 0.6rem;
  font-size: 16px;
  float: left;
  cursor: pointer;
}

.header-info-login:nth-child(1){
  margin-right: 10px;
}

.header-info-login:hover{
  color: #F8B62B;
}

.header-info-login .iconfont{
  font-size: 20px;
  margin-right: 5px;
}

.main-warp{
  width: 100%;
  position: absolute;
  top: 1rem;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0.1rem 0.2rem;
}

.main-menu{
  position: absolute;
  display: none;
  width: 160px;
  top: 10px;
  bottom: 0;
  left: 15px;
  right: 0;
  font-size: 14px;
  font-weight: 500;
  color: #00E3FF;
  background: #031a44;
  padding-top: 15px;
  padding-right: 5px;
}

.main-menu-item{
  width: 100%;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;
}

.main-menu-item .iconfont{
  font-size: 20px;
}

.main-menu-item-active{
  color: #F8B62B;
}

.main-menu-tool{
  width: 100%;
  overflow: hidden;
  border: 1px solid #0000FF;
}


.main-center{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 170px;
  right: 220px;
  box-sizing: border-box;
}

.main-center-map{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main-right{
  position: absolute;
  right: 15px;
  width: 210px;
  top: 10px;
  bottom: 0;
  color: #00E3FF;
  background: #031a44;
  display: none;
}

.main-right-header{
  width: 100%;
  height: 0.6rem;
  line-height: 0.6rem;
  background: #024268;
  font-size: 14px;
  font-family: Noto Sans S Chinese;
  font-weight: 500;
  color: #00E3FF;
}

.main-right-header-icon{
  width: 0.06rem;
  height: 0.24rem;
  float: left;
  margin: 0.18rem 0.2rem;
  background: #FF8C00;
}

.main-right-data{
  position: absolute;
  left: 0;
  right: 0;
  top: 0.6rem;
  bottom: 0;
  color: #00E1FF;
}

.main-right-data .ztree li span {
  color: #00E3FF;
  background: #031a44;
  border: 0;
  font-family: Noto Sans S Chinese;
  font-size: 12px;
}
.main-bottom {
  width: 32%;
  height: 0.36rem;
  line-height: 0.36rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../img/bottom-bg.png) no-repeat center;
  background-size: 100% 100%;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

::-webkit-scrollbar-track-piece { 
  background-color:#f8f8f8;
  }
  ::-webkit-scrollbar {
  width:9px;
  height:9px;
  }
  ::-webkit-scrollbar-thumb {
  background-color:#dddddd;
  background-clip:padding-box;
  min-height:28px;
  }
  ::-webkit-scrollbar-thumb:hover {
  background-color:#bbb;
  }
