* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  position: relative;
}

.header-warp{
  width: 100%;
  height: 590px;
  background: url(../img/bg1.jpg) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-box{
  width: 800px;
  overflow: hidden;
  position: relative;
}

.header-title{
  font-size: 24px;
  color:rgba(255,255,255,1);
}

.header-info{
  font-size:20px;
  color:rgba(255,255,255,1);
  margin-top: 22px;
}

.header-btn{
  width:229px;
  height:60px;
  background:rgba(222,157,14,1);
  box-shadow:0px 5px 15px 0px rgba(13,55,140,0.25);
  border-radius:30px;
  font-weight:400;
  color:rgba(255,255,255,1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  cursor: pointer;
}

.header-btn img{
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.header-btn span{
  font-size:20px;
}

.header-btn1{
  background:#A5C845;
  margin-top: 20px;
}
.header-info2{
  font-size:20px;
  font-weight:400;
  color:rgba(253,201,141,1);
  margin-top: 16px;
}

.header-img1{
  width: 184px;
  position: absolute;
  left: 300px;
  bottom: 168px;
}

.header-img2{
  width: 125px;
  height: 125px;
  position: absolute;
  left: 330px;
  bottom: 20px;
}

.header-iphone{
  width: 250px;
  height: 350px;
  position: absolute;
  right: 0;
  top: 0;
}

.banner-warp{
  width: 100%;
  height: 590px;
  background: url(../img/banner.jpg) no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-box{
  width: 800px;
  height: 100%;
  position: relative;
}

.banner-box img{
  width: 522px;
  position: absolute;
  left: 0;
  top: 130px;
}

.main-warp{
  width: 100%;
  overflow: hidden;
  background: #1673DC;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box{
  width: 800px;
  overflow: hidden;
  position: relative;
}

.main-step1-title{
  font-size:20px;
  color:rgba(255,255,255,1);
  margin: 20px 0 30px;
}

.main-step1-title span{
  font-size:42px;
  font-weight:400;
  color:rgba(255,255,255,1);  
  background:linear-gradient(0deg,rgba(249,193,2,1) 15.2099609375%, rgba(255,243,0,1) 100%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  font-weight: bold;
  margin-right: 10px;
}

.main-step1-info{
  font-size:12px;
  font-weight:400;
  color:rgba(201,231,255,1);
  line-height:23px;
  margin-bottom: 36px;
}

.main-step1-box{
  width: 420px;
  height: 108px;
  background: url(../img/main-step1-bg.png) no-repeat center;
  background-size: 100% 100%;
}

.main-step1-dl{
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size:12px;
  font-weight:400;
  color:rgba(201,231,255,1);
}

.main-step1-dl dt{
  width: 92px;
  float: left;
  border-right: 1px solid #2C8AD5;
}

.main-step1-dl dt img{
  width: 18px;
  height: 18px;
  float: left;
  margin: 9px 6px 0 18px;
}

.main-step1-dl dd{
  width: 327px;
  float: left;
  padding-left: 20px;
  box-sizing: border-box;
}
.main-step1-img{
  width: 274px;
  height: 164px;
  position: absolute;
  right: 0;
  top: 110px;
}

.main-step2-title{
  margin-bottom: 0;
}

.main-step-border{
  width:750px;
  height:1px;
  box-shadow:0px 1px 0px 0px rgba(255,255,255,0.25);
  margin-bottom: 40px;
}
.main-step2-box{
  width: 692px;
  overflow: hidden;
  margin: 30px;
  margin-bottom: 30px;
}

.main-step2-box dl{
  width: 124px;
  overflow: hidden;
  float: left;
  margin-right: 18px;
}
.main-step2-box dl:nth-child(5n){
  margin-right: 0;
}

.main-step2-box dt{
  width: 100%;
  height: 164px;
  background: brown;
  margin-bottom: 8px;
  position: relative;
  border:1px solid rgba(178, 221, 255, 1);
  box-sizing: border-box;
}

.main-step2-pic{
  width: 100%;
  height: 100%;
}

.main-step2-icon{
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
}
.main-step2-box dd{
  font-size:12px;
  font-weight:400;
  color:rgba(255,255,255,1);
}

.main-step2-box dd p{
  font-size:11px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 8px 0;
  color: #B3DEFF;
}

.main-step3-box{
  width: 750px;
  overflow: hidden;
  text-align: center;
}

.main-step3-img1{
  width: 694px;
  height: 390px;
  margin: 0 auto 36px;
}

.main-step3-img2{
  width: 704px;
  height: 528px;
  margin: 0 auto;
}

.bottom-warp{
  width: 100%;
  height: 642px;
  background: #1673DC;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-box-warp{
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background: url(../img/bottom-bg.png) no-repeat center;
}

.bottom-box{
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.bottom-box img{
  width: 704px;
  margin-left: 24px;
}

