* {
    margin: 0;
    padding: 0;
  }
  
  body, html {
    width: 100%;
    position: relative;
    font-family: Microsoft YaHei;
    background: #1759cc;
  }
  
  .banner-warp{
    width: 100%;
    height: 5.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner-warp img{
    width: 100%;
    height: 100%;
  }
  
  .main-warp{
    width: 100%;
    padding-top: 0.42rem;
    overflow: hidden;
    background: #1759cc;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-box{
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .main-step1-title{
    position: absolute;
    width: 3.1rem;
    height: 2.26rem;
    left: 2%;
    background: url(./img/part1.png) no-repeat center;
    background-size: 100% 100%;
  }

  .main-step1-info{
    margin-top: 2rem;
    margin-left: 12.5%;
    font-weight: 400;
    color: rgba(201,231,255,1);
    font-size:12px;
    font-family:Source Han Sans SC;
    line-height:23px;
  }
  
  .main-step1-img{
    width: 41%;
    height: 2.54rem;
    position: absolute;
    right: 0;
    top: 0.88rem;
  }
   
  .main-step1-box{
    width: 92.5%;
    margin: 0.74rem auto 0;
    height: 2.36rem;
    background: url(../img/main-step1-bg.png) no-repeat center;
    background-size: 100% 100%;
  }
  
  .main-step1-dl{
    width: 100%;
    height: 0.78rem;
    line-height: 0.78rem;
    font-size: 12px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color:rgba(201,231,255,1);
  }
  
  .main-step1-dl dt{
    width: 22%;
    float: left;
    font-size: 11px;
  }
  
  .main-step1-dl dt img{
    width: 0.4rem;
    height: 0.4rem;
    float: left;
    margin: 0.19rem 0.1rem 0 0.2rem;
  }
  
  .main-step1-dl dd{
    width: 78%;
    font-size: 11px;
    float: left;
    padding-left: 0.2rem;
    box-sizing: border-box;
  }

  .main-step2-title{
    margin: 0.56rem 0.56rem 0.4rem 0;
    width: 52.4%;
    height: 2.26rem;
    float: right;
    background: url(./img/part2.png) no-repeat center;
    background-size: 100% 100%;
  }

  .main-step2-box{
    width: 87%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .main-step2-box dl{
    width: 47%;
    overflow: hidden;
    float: left;
  }
  .main-step2-box dl:nth-child(2n){
    float: right;
  }
  
  .main-step2-box dt{
    width: 100%;
    height: 5.36rem;
    background: brown;
    margin-bottom: 0.24rem;
    position: relative;
    border:1px solid rgba(178, 221, 255, 1);
    box-sizing: border-box;
  }
  
  .main-step2-pic{
    width: 100%;
    height: 100%;
  }
  
  .main-step2-icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 1.12rem;
    height: 1.12rem;
  }
  .main-step2-box dd{
    font-size:12px;
    font-family:Source Han Sans SC;
    font-weight:400;
    color:rgba(255,255,255,1);
  }
  
  .main-step2-box dd p{
    font-size:11px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 8px 0;
    color: #B3DEFF;
  }

  .main-step3-title{
    margin: 0.56rem 0 0.4rem 0.56rem;
    width: 52.4%;
    height: 2.26rem;
    float: left;
    background: url(./img/part3.png) no-repeat center;
    background-size: 100% 100%;
  }
  .main-step3-box{
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  
  .main-step3-img1{
    width: 100%;
    margin: 0 auto;
  }
  
  .main-step3-img2{
    width: 100%;
    margin: 0 auto;
  }

  .main-step4-title{
    margin: 0.56rem 0.56rem 0.4rem 0;
    width: 52.4%;
    height: 2.26rem;
    float: right;
    background: url(./img/part4.png) no-repeat center;
    background-size: 100% 100%;
  }

  .main-step4-box{
    width: 92%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
  }

  .main-step4-img{
      width: 100%;
      overflow: hidden;
  }
  .main-step5-title{
      width: 89%;
      height: 0.42rem;
      margin: 1.1rem 0 1.1rem 0.4rem;
      background: url(./img/main-step5-title.png) no-repeat center;
      background-size: 100% 100%;
  }
  .main-step5-box{
      width: 80%;
      overflow: hidden;
      margin: 0 auto;
  }
  .main-step5-box-left{
      width: 35%;
      float: left;
      overflow: hidden;
  }

  .main-step5-box-left img{
    width: 100%;
  }

  .main-step5-box-left p{
    margin-top: 0.44rem;
    width:100%;
    font-size:14px;
    font-family:Source Han Sans SC;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height: 24px;
  }
.main-step5-phone{
    width: 44%;
    float: right;
    overflow: hidden;
}
.bottom-warp{
    width: 100%;
    overflow: hidden;
    background: url(./img/bottom-bg.png) no-repeat bottom;
    background-size: 100% 100%;
}
.bottom-info{
    width: 100%;
    text-align: center;
    margin: 0.4rem 0;
    font-size: 14px;
    font-family:PingFang SC;
    color:rgba(255,255,255,1);
}
  
  .bottom-btn{
    width: 5.6rem;
    height: 1.18rem;
    background:rgba(222,157,14,1);
    box-shadow:0px 5px 15px 0px rgba(13,55,140,0.25);
    border-radius: 0.59rem;
    font-family: Source Han Sans SC;
    color:rgba(255,255,255,1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
  }
  
  .bottom-btn img{
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 0.2rem;
  }
  
  .bottom-btn span{
    font-size: 20px;
  }
  
  .bottom-btn1{
    background:#A5C845;
    margin-top: 0.4rem;
  }
  .bottom-info2{
    width: 100%;
    font-size:20px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(253,201,141,1);
    text-align: center;
    margin-top: 0.4rem;
    margin-bottom: 3.02rem;
  }
