* {
    margin: 0;
    padding: 0;
  }
  
  body, html {
    width: 100%;
    position: relative;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eeefef;

  }
  .index-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.index-icon1{
    width: 0.6rem !important;
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    z-index: 9;
}
.index-icon2{
    width: 0.6rem !important;
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    z-index: 9;
}
.index-bottom{
    width: 7rem !important;
    position: absolute;
    bottom: 0.2rem;
    right: 1rem;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.index-bottom img{
    width: 0.8rem;
    margin-bottom: 0.1rem;
}
.index-icon3{
    width: 0.24rem;
    position: absolute;
    right: 0.6rem;
    bottom: 0.8rem;
    z-index: 9;
}
.index-main{
    width: 90%;
    height: 4.2rem;
    position: absolute;
    bottom: 0.6rem;
    right: 5%;
    text-align: left;
}
.index-main-title{
    font-size: 0.8rem;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.25rem;
}
.index-main-desc{
    font-size: 0.36rem;
    color: #fff;
    line-height: 0.5rem;
    text-align: justify;
}
.index-main-desc1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.index-main-desc1 img{
    width: 0.4rem;
    margin:0 0.2rem;
}
.index-main-desc4{
    width: 1.8rem;
    height: 0.6rem;
    background: #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8e8e92;
    margin-top: 0.2rem;
}
  .swiper-container {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
  }
  .swiper-slide{
    width: 100%;
    height: 100%;
    position: relative;
  }
  .swiper-slide-img{
    width: 100%;
    height: 100%;
  }
  
  .mine-warp{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #eeefef;
    color: #000;
    font-size: 0.3rem;
}
.mine{
    width: 100%;
    overflow: hidden;
}
.mine-top{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 0.4rem;
    box-sizing: border-box;
}
.mine-top-icon {
    width: 0.8rem;
    width: 1rem;
}
.mine-top-icon {
    width: 0.8rem;
    width: 0.8rem;
}
.mine-top-icon1 {
    width: 0.6rem;
    width: 0.6rem;
    margin-right: 0.4rem;
}
.mine-top-icon2 {
    width: 0.7rem;
    width: 0.7rem;
}
.mine-proto{
    width: 100%;
    padding: 0 0.8rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #9fa0a0;
    font-size: 0.28rem;
    box-sizing: border-box;
}
.mine-proto-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-weight: bold;

}
.mine-proto-img img{
    width: 2rem;
    width: 1.9rem;
    margin-right: 0.2rem;
}
.mine-proto-text{
    font-size: 0.46rem;
}
.mine-detail{
    width: 100%;
    padding: 0.6rem 1.4rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #9fa0a0;
    font-size: 0.28rem;
}
.mine-detail p{
    font-weight: 700;
    color: #000;
    font-size: 0.42rem;
    margin-bottom: 0.2rem;
}
.mine-icon-warp{
    box-sizing: border-box;
    margin: 0 0.6rem 0.4rem;
    height: 2.4rem;
    background: #fff;
    border-radius: 0.15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 0.4rem;

}
.mine-icon-warp img{
    width: 0.7rem;
    height: 0.72rem;
    margin-bottom: 0.2rem;
}
.mine-icon-warp span{
  font-size: 0.34rem;
}
.mine-center{
    box-sizing: border-box;
    margin: 0 0.6rem 0.4rem;
    background: #fff;
    border-radius: 0.15rem;
    text-align: center;
    padding: 0.5rem 0.4rem;
    overflow: hidden;
}
.mine-center-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mine-center-title p{
    font-size: 0.46rem;
}
.mine-center-title span{
    color: #9fa0a0;
}
.mine-center-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.4rem;
}
.mine-center-main div{
    width: 2rem;
    height: 1.5rem;
}
.mine-center-main p{
  font-size: 0.34rem;
}
.mine-center-main img{
    width: 0.8rem;
    height: 0.7rem;
    margin-bottom: 0.2rem;
}
.mine-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;
    box-sizing: border-box;
    text-align: center;
    color:#9fa0a0;
    font-size: 0.28rem;
}
.mine-bottom img{
    width: 0.8rem;
    margin-bottom: 0.1rem;
}
.mine-bottom-left{
    width: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mine-bottom  .return_iocn{
    width: 0.6rem;
}
